@model ShoppingCart

@{
    ViewData["Title"] = "Cart";
}

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h5>My Cart</h5>

        <table class="table table-striped">
            <tr>
                <th>Item</th>
                <th>Image</th>
                <th>Unit Price(INR)</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Item.Name</td>
                    <td>
                        <img src="@item.Item.imageSrc" style="width:80px;height:100px" />
                    </td>
                    <td>@item.Item.Price X @item.Quantity</td>
                    <td>@(item.Item.Price * item.Quantity)</td>
                    <td>
                        <a class="btn" asp-action="AddItem" asp-route-itemId="@item.ItemId" asp-route-redirect="1"><i class="bi bi-cart-plus"></i></a>
                        <a class="btn" asp-action="RemoveItem" asp-route-itemId="@item.ItemId"><i class="bi bi-cart-dash"></i></a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5>Total : </h5>
            @(Model.CartDetails.Select(item => item.Item.Price * item.Quantity).Sum())
        </div>
        <div class="my-2">
            <a class="btn btn-primary" href="/Cart/Checkout">Checkout</a>
        </div>
        <div class="my-2">
            <div id="paypal-btn"></div>
        </div>
    }
    else
    {
        <h5>Cart is empty</h5>
    }
</div>
@section Scripts {
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
            },

            //Customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            //Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },

            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("Index", "Movies", new { })';
                    window.location.href = url;
                });
            }

        }, '#paypal-btn')
    </script>
}