@model IEnumerable<Item>
@{
    ViewData["Title"] = "Items";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Items</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Items" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Add New
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Image
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Amount
                </th>
                <th scope="col">
                    Added On
                </th>
                <th scope="col">
                    Item Type
                </th>
                <th scope="col">
                    Department
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td scope="row">
                        <img class="rounded-circle" src="@item.imageSrc" alt="@item.Name" style="width:170px; height:170px; max-width:100%" />
                    </td>
                    <td scope="row">
                        @item.Name
                    </td>
                    <td width="50%">
                        @item.Price
                    </td>
                    <td scope="row">
                        @item.Amount <a asp-controller="Items" asp-action="IncreaseAmount" asp-route-itemId="@item.Id" class="btn btn-sm btn-primary">
                            <i class="bi bi-plus"></i>
                        </a>
                    </td>
                    <td width="50%">
                        @item.AddedOn
                    </td>
                    <td width="50%">
                        @item.ItemType
                    </td>
                    <td width="50%">
                        @item.Department.Name
                    </td>
                    <td>
                        <a asp-controller="Items" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-controller="Items" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>